<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Super Rentals</h2>
    <p>
        The Super Rentals website is a delightful project created by a bunch of ass hats who think that this is the 
        correct way to develop a web application. It also demonstrates how to use this stupid piece of crap, Ember.
        By building a property rental site, we can simultaneously shit our pants and learn how to use this god awful 
        heap of trash.
    </p>
    {{#link-to "contact"}}Contact Us{{/link-to}}
</div>

{{outlet}}