<div>
    <div>
        {{#link-to "index"}}
            <h1>
                <em>SuperRentals</em>
            </h1>
        {{/link-to}}
        <div>
            {{#link-to "about"}}
                About
            {{/link-to}}
            {{#link-to "contact"}}
                Contact
            {{/link-to}}
        </div>
    </div>
</div>

{{outlet}}