<div>
    <div>
        <h2>Contact Us</h2>
        <p>
            Super Rentals Reps would love to help you<br>
            choose something for some purpost but we don't know what we are doing<br>
            obviously because front end web frameworks make no sense and were using one anyway
        </p>
        <address>
            Super Rentals HQ
            <p>
                1211 Renob Avenue<br>
                Whatajoke, CA 66666
            </p>
            <p>(We don't have a phone that is how poor we are.)</p>
        </address>

        {{#link-to "about"}}About{{/link-to}}
    </div>
</div>

{{outlet}}