<div>
    <div>
        <h2>Welcome!</h2>
        <p>We hope that our shitty ideas don't ruin your life, because they have certainly ruined ours, we just don't know it yet.</p>
        {{#link-to "about"}}About Us{{/link-to}}
    </div>
</div>

{{outlet}}